
header {
	height: 60px;
	width: 100%;
	
	background-color: blue;	
}

header h1 {
	margin: 0px;
	padding-right: 10px;
	display: inline-block;
	float: left;
	height: 100%;

	background-color: red;
}

#headerImg {
	display: inline-block;
	height: 100%;
	background-color: green;
}

#headerImg img {
	width: auto;
	height: 100%;
	max-width: 133px;
}

#navList {
	display: inline-block;
	float: right;
}

#navList li {
	display: inline-block;
	list-style-type: none;
	margin: 0, 0;
}

footer {
	position: fixed;  
	bottom: 0px;
}

#homeDescription {
	max-width: 30%;
	float: left;
	padding-left: 15%;
}

#game {
	margin-left: 100px;
}

#game canvas {
	position: absolute;
}

#background {
	z-index: 0;
}

#overlay {
	z-index: 1;
}

#pieces {
	z-index: 2;
}






body:after
{
	content:
	url("../img/BoardImage.png")
	url("../img/pieces/r0.png")
	url("../img/pieces/r1.png")
	url("../img/pieces/r2.png")
	url("../img/pieces/b0.png")
	url("../img/pieces/b1.png")
	url("../img/pieces/b2.png")
	url("../img/pieces/kn0.png")
	url("../img/pieces/kn1.png")
	url("../img/pieces/kn2.png")
	url("../img/pieces/k0.png")
	url("../img/pieces/k1.png")
	url("../img/pieces/k2.png")
	url("../img/pieces/q0.png")
	url("../img/pieces/q1.png")
	url("../img/pieces/q2.png")
	url("../img/pieces/p0.png")
	url("../img/pieces/p1.png")
	url("../img/pieces/p2.png");

	display:none;
}

@media screen and (max-width: 480px) {
	#headerImg {
		display: none;
	}
}



