h1 {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	background-color: red;
	height: 10%;
}

header {
	height: 10%;
	background-color: blue;
	display: inline-block;
	width: 80%;
	float: right;
	
}

#navList {
	display: inline-block;
}

#navList li {
	display: inline-block;
	list-style-type: none;
	margin: 0, auto;
}
